/***** Intro section *****/

#introduction {
	display: flex;
	align-items: center;
	margin: 130px 0px;
}

#introduction figure, article {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}