/***** Modals *****/

/***** Page 1 ( Gallery ) *****/

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-modal i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    font-size: 20px;
    cursor: pointer;
}

.modal-gallery-title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
}

.modal-gallery {
    display: flex;
    flex-wrap: wrap;
    width: calc((77px * 5) + (10px * 4));
    gap: 10px;
    row-gap: 30px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #B3B3B3;
}

.modal-gallery-project {
    position: relative;
    height: 102px;
    width: 77px;
}

.modal-gallery img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.delete-project {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    background-color: black;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.modal-button {
    margin-bottom: 15px;
    height: 36px;
    width: 237px;
	font-family: 'Syne';
	font-weight: 700;
    font-size: 14px;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px;
    border: none;
    cursor: pointer;
}

#validate-button {
    background-color: #A7A7A7;
}


/***** Page 2 ( Add a project ) *****/

#new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #B3B3B3;
}

.add-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: #E8F1F6;
    height: 169px;
    margin-bottom: 30px;
}

.fa-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 76px;
    font-size: 68px;
    color: #B9C5CC;
}

.add-file button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 40%;
    background-color: #CBD6DC;
    border: 0;
    border-radius: 50px;
}

.add-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.add-file button p {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #306685;
    pointer-events: none;
}

.add-file > p {
    font-weight: 400;
    font-size: 10px;
    color: #444444;
}

.modal-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.modal-input label {
    font-size: 14px;
    font-weight: 500;
    color: #3D3D3D;
}

.modal-input input, .modal-input select {
    height: 51px;
    border: 0;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

#title-input {
    margin-bottom: 20px;
}

#preview-image {
    display: none;
    object-fit: cover;
    width: 40%;
    height: 100%;
}

/***** Deleting Confirmation modal *****/

#confirmation-modal .modal-content {
    width: 25%;
    text-align: center;
    gap: 15px;
}

.confirmation-modal-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.confirmation-modal-actions button {
    width: 100px;
    margin-bottom: 0;
}

#confirmation-modal h2 {
    font-size: 25px;
}