
.portfolio-title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.filters button {
	background-color: #fffef8;
	min-width: 100px;
	padding: 10px 7px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Syne';
	text-align: center;
}

.filters button:hover {
	background-color: rgb(179, 211, 185);
	cursor: pointer;
}

.active {
	background-color:#1D6154 !important;
	color: white !important;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}


/***** Edit mode *****/

.portfolio-title button {
	display: none;
	gap: 8px;
	position: absolute;
	left: 50%;
	transform: translateX(100%);
	margin-left: 40px;
	margin-top: auto;
	border: none;
	background-color: inherit;
	color:#1D6154;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Work Sans';
}

.portfolio-title button svg {
	width: 15.58px;
	height: 15.58px;
}

.portfolio-title button:hover {
	cursor: pointer;
}